<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link href="https://cdn.jsdeliver.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
    </head>
    <body>
        <h1 class="bg-primary text-white p-2"><%= header %></h1>
        <div class="container py-2">
            <h2 class="mb-3"><%= title %></h2>
            <div class="alert alert-primary">
                <%= msg %>
            </div>
        </div>
    </body>
</html>
